.hero-section {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

.hero-section .cube1 {
  position: absolute;
  top: 250px;
  left: 20vw;
}
.hero-section .cube1 img {
  width: 15vw;
}

.hero-section .cube2 {
  position: absolute;
  top: 750px;
  right: 5vw;
}
.hero-section .cube2 img {
  width: 7vw;
}

.hero-section .diamond1 {
  position: absolute;
  top: 550px;
  left: 50vw;
}
.hero-section .diamond1 img {
  width: 10vw;
}

.hero-section .diamond2 {
  position: absolute;
  top: 650px;
  left: 10vw;
}
.hero-section .diamond2 img {
  width: 15vw;
}

.hero-section .diamond3 {
  position: absolute;
  top: 80px;
  right: 20vw;
}
.hero-section .diamond3 img {
  width: 5vw;
}

.background-img {
  width: 25vw;
  border-radius: 30px;
  position: absolute;
  top: 16vh;
  right: 4vw;
  z-index: 100;
}

.headline {
  position: relative;
  margin-top: 16vh;
  margin-left: 4vw;
  margin-right: 4vw;
  text-transform: uppercase;
  z-index: 1000;
}

.headline1 {
  font-size: 13vw;
  font-weight: 700;
  line-height: 0.8;
  margin-left: -10px;
}

.headline2 {
  font-size: 3.35vw;
  font-weight: 700;
  line-height: 1;
}

.headline-description {
  width: 63vw;
}

.headline-link-div {
  margin: 40px 0;
}

@media (max-width: 1199px) {
  .hero-section .cube2 {
    top: 540px;
  }

  .hero-section .diamond1 {
    top: 400px;
  }

  .hero-section .diamond2 {
    top: 500px;
  }

  .background-img {
    width: 30vw;
    top: 22vh;
  }

  .headline {
    margin-top: 22vh;
  }

  .headline1 {
    font-size: 11vw;
  }

  .headline2 {
    font-size: 2.8vw;
  }

  .headline-description {
    width: 60vw;
  }
}

@media (max-width: 991px) {
  .hero-section .cube1 {
    top: 300px;
  }
  .hero-section .cube1 img {
    width: 20vw;
  }

  .hero-section .cube2 {
    top: 650px;
  }
  .hero-section .cube2 img {
    width: 12vw;
  }

  .hero-section .diamond1 {
    top: 550px;
  }
  .hero-section .diamond1 img {
    width: 15vw;
  }

  .hero-section .diamond2 {
    top: 600px;
  }
  .hero-section .diamond2 img {
    width: 20vw;
  }

  .hero-section .diamond3 {
    top: 150px;
  }
  .hero-section .diamond3 img {
    width: 10vw;
  }

  .background-img {
    display: none;
  }

  .headline {
    margin-top: 200px;
  }

  .headline1 {
    font-size: 19vw;
  }

  .headline2 {
    font-size: 4.9vw;
  }

  .headline-description {
    width: 100%;
  }

  .headline-link-div {
    margin-bottom: 100px;
  }
}

@media (max-width: 575px) {
  .hero-section .cube1 {
    top: 200px;
  }
  .hero-section .cube1 img {
    width: 25vw;
  }

  .hero-section .cube2 {
    top: 600px;
  }
  .hero-section .cube2 img {
    width: 15vw;
  }

  .hero-section .diamond1 {
    top: 500px;
  }
  .hero-section .diamond1 img {
    width: 20vw;
  }

  .hero-section .diamond2 {
    top: 600px;
  }
  .hero-section .diamond2 img {
    width: 30vw;
  }

  .hero-section .diamond3 {
    top: 100px;
  }

  .headline {
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .headline1 {
    font-size: 18vw;
    line-height: 0.9;
    margin-left: 0;
  }

  .headline2 {
    font-size: 7vw;
    line-height: 1.1;
  }
}
