/* ///// FONTS ///// */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ///// CUSTOM CSS ///// */
html {
  scroll-behavior: auto !important;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #ffffff;
  background-color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.primary-color {
  color: #111111;
}

.secondary-color {
  color: #ffffff;
}

.accent-color {
  color: #8ec8f3;
}

section {
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 991px) {
  section {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  section {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.row {
  --bs-gutter-x: 0;
}

/* a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s linear;
} */

/* a:hover {
  color: #ffffff;
} */

.relative {
  position: relative;
}

/* .horizontal-rule {
  color: #dddddd;
  opacity: 0.5;
  margin: 150px 0;
}

@media (max-width: 991px) {
  .horizontal-rule {
    margin: 125px 0;
  }
}

@media (max-width: 575px) {
  .horizontal-rule {
    margin: 100px 0;
  }
} */

/* .cards {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 1);
  border-radius: 20px;
  padding: 50px;
}

@media (max-width: 991px) {
  .cards {
    padding: 30px;
  }
} */

/* .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* .space::after {
  content: ' ';
  white-space: pre;
} */

/* Header Section */
.header {
  padding: 20px 24px 20px 16px;
}

.stack1 {
  display: flex;
}

.stack1 .logo-div {
  margin-right: 10px;
}

.stack1 .logo {
  width: 250px;
}

.menu-btn {
  display: flex;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
  background-color: transparent;
  border: none;
  padding: 0 0 5px 0;
}

.menu-btn:focus {
  outline: none;
}

/* Offcanvas Menu */
.offcanvas-backdrop {
  display: none !important;
}

.offcanvas {
  background-color: #dddddd !important;
  width: 100vw;
  height: 100vh !important;
  z-index: 10 !important;
  transition: transform 0.6s ease-in-out !important;
}
@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: none;
  }
}

.offcanvas-header {
  display: block !important;
  padding: 0 !important;
  height: 120px;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 19px;
  font-size: 2rem;
  font-weight: 200;
  color: #111111;
  background-color: transparent;
  border: none;
}

.close-btn:focus {
  outline: none;
}

.nav-link-div {
  text-align: center;
}

.nav-link-div-1 {
  margin: 0 40.5vw 20px;
}

.nav-link-div-2 {
  margin: 0 40vw 20px;
}

.nav-link-div-3 {
  margin: 0 31.5vw 20px;
}

.nav-link-div-4 {
  margin: 0 36.5vw 20px;
}

.nav-link-div a {
  color: #111111;
  font-size: 5vw;
  font-weight: 200;
}

.nav-link-div a:hover {
  color: #111111;
}

.nav-link-div a::after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: ' ';
  background-color: #111111;
  height: 0px;
  width: 0px;
  z-index: 100;
  transition: width 0.5s linear;
}

.nav-link-div a:hover::after {
  height: 3px;
  width: 100%;
}

.social-link-col {
  display: flex;
}

.social-link-div {
  text-align: center;
  margin: 20px auto 0;
}

.social-link-div a {
  color: #111111;
  font-size: 1.5vw;
  font-weight: 300;
}

.social-link-div a:hover {
  color: #111111;
}

.social-link-div a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: ' ';
  background-color: #111111;
  height: 0px;
  width: 0px;
  z-index: 100;
  transition: width 0.3s linear;
}

.social-link-div a:hover::after {
  height: 1.5px;
  width: 100%;
}

@media (max-width: 1199px) {
  .nav-link-div-1,
  .nav-link-div-2,
  .nav-link-div-3,
  .nav-link-div-4 {
    margin: 0 auto 20px;
  }
  .nav-link-div a {
    font-size: 7vw;
  }

  .nav-link-div a::after,
  .social-link-div a::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .nav-link-div a {
    font-size: 10vw;
  }
  .social-link-div a {
    font-size: 2.5vw;
  }
}

@media (max-width: 575px) {
  .header {
    padding: 25px;
  }
  .stack1 span {
    font-size: 1.5rem;
    /* margin-top: 17.5px; */
  }
  .menu-btn {
    font-size: 1.5rem;
  }
  .close-btn {
    top: 27.5px;
    right: 19.5px;
    font-size: 1.5rem;
  }
  .nav-link-div a {
    font-size: 3rem;
  }
  .social-link-div a {
    font-size: 1rem;
  }
}

/* Footer Section */
.footer-section {
  margin-bottom: 100px;
}

.space::after {
  content: ' ';
  white-space: pre;
}

.title-section,
.title-line {
  display: flex;
}

.title-line p {
  font-size: 3vw;
  text-transform: uppercase;
}

.email-div {
  font-size: 7.05vw;
  letter-spacing: 1px;
  margin-top: -30px;
}

.email-div a::after {
  position: absolute;
  bottom: 20px;
  left: 0;
  content: ' ';
  background-color: #ffffff;
  height: 0px;
  width: 0px;
  z-index: 100;
  transition: width 0.75s linear;
}

.email-div a:hover::after {
  height: 5px;
  width: 100%;
}

.social-div {
  margin-top: 30px;
}

.social-span {
  margin-right: 50px;
  position: relative;
}

.social-span a {
  color: #dddddd;
}
.social-span a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: ' ';
  background-color: #dddddd;
  height: 0px;
  width: 0px;
  z-index: 100;
  transition: width 0.3s linear;
}
.social-span a:hover::after {
  height: 1px;
  width: 100%;
}

@media (max-width: 1199px) {
  .email-div {
    margin-top: -30px;
  }
}

@media (max-width: 991px) {
  .email-div {
    font-size: 7.8vw;
    margin-top: -20px;
  }
  .email-div a::after {
    bottom: 5px;
  }
  .email-div a:hover::after {
    height: 3px;
  }
}

@media (max-width: 575px) {
  .footer-section {
    margin-bottom: 50px;
  }
  .title-section {
    display: block;
  }
  .title-line p {
    font-size: 7vw;
    line-height: 50%;
  }
  .email-div {
    font-size: 7.35vw;
    margin-top: 0;
    text-align: center;
  }
  .email-div a::after {
    bottom: 0;
  }
  .social-div {
    display: block;
    margin: 30px auto 0;
    text-align: center;
  }
  .social-span {
    font-size: 0.9rem;
    margin: 0 12px;
  }
}
